
  main.mainCont {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'HeroRegular';
  }
  

.imagePokebola {
    @extend .sprite_1-pokebola;
    display: inline-block;
    margin-left: 4%;
}

.imageIconoFuego {
	@extend .sprite_1-icono_fuego;
	display:inline-block;
	margin-left: 5%
}

.imagePokemon1{
	@extend .sprite_1-pokemon_1;
	display:inline-block;
}

.imagePokemonPhone{
	@extend .sprite_1-pokemon_cel;
	display:inline-block;
	margin-left: 20%;
    margin-right: 10%;
}

.imgPok_1{
    @extend .sprite_1-pok_1;
}

.imgPok_2{
    @extend .sprite_1-pok_2;
}

.imgPok_3{
    @extend .sprite_1-pok_3;
}

.imgPok_4{
    @extend .sprite_1-pok_4;
}