.container_footer{
    width: 66%;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 15px;
    background-color: #f11f1f;
}

.titulo_others {
    background: transparent;
    width: 22%;
    margin-left: 5%;
    margin-top: 6%;
    font-family: 'HeroRegular';
    color: white;
    text-align: center;
    font-size: 18px;
    border: none;
}

.lista_pokemones {
    width: 70%;
    display: inline-block;
    text-align: center;
}

.pokemon_footer {
    display: inline-block;
    background: white;
    width: 70px;
    height: 65px;
    margin-left: 5%;
    margin-top: 3%;
    text-align: center;
    border-radius: 11px;
}
.pokemon_footer:hover {
    background: #3d54d2;
    cursor: pointer;
    transform: scale(1.15);
}

@media screen and (max-width:630px ){
    .titulo_others {
        background: transparent;
        width: 90%;
        margin-top: 2%;
        font-size:11px;
    }
    
    .container_footer {
          margin-top: 2%;
          width: 100%;
          height: 152px;
          margin-left:0%;
          border-radius:0%;
     }
    
    .lista_pokemones{
        width: 74%;
        margin-left: 13%;
        text-align:left;
    }
    
    .pokemon_footer {
        width:65px;
        height:55px;
        margin-left: 20%;
        margin-top:0%;
    }
}