<footer>
  <div class="container_footer">
    <input type="text" value="OTHERS" class="titulo_others">
    <div class="lista_pokemones">
      <div class="pokemon_footer">
        <div class="imgPok_1"></div>
      </div>
      <div class="pokemon_footer">
        <div class="imgPok_2"></div>
      </div>
      <div class="pokemon_footer">
        <div class="imgPok_3"></div>
      </div>
      <div class="pokemon_footer">
        <div class="imgPok_4"></div>
      </div>
    </div>
  </div>
</footer>