<footer>
  <div class="container_footer">
    <input type="text" value="OTHERS" class="titulo_others">
    <div class="lista_pokemones">
      <div class="pokemon_footer">
        <img class="imgPok_1" src="../../assets/img/sprites/pok_1.png">
      </div>
      <div class="pokemon_footer">
          <img class="imgPok_2" src="../../assets/img/sprites/pok_2.png">
      </div>
      <div class="pokemon_footer">
          <img class="imgPok_3" src="../../assets/img/sprites/pok_3.png">
      </div>
      <div class="pokemon_footer">
          <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
      </div>
    </div>
  </div>
</footer>