.container_footer {
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
    height: 125px;
    border-radius: 15px;
    background-color: #f11f1f;
}

.titulo_others{
    background: transparent;
    width: 20%;
    margin-left: 5%;
    margin-top: 6%;
    font-family: 'HeroRegular';
    color: white;
    text-align: center;
    font-size: 18px;
    border: none;
}