.titulo_pokemon {
    width: 68%;
    padding: 1px 34px;
    margin-left: 8%;
}
    

.nombre_pokemon {
    font-size: 18px;
}

.imagePokemonPhone{
	display: block;
}

.imagePokemon1{
    display:none;
}

.info_pokemon {
    display: block;
    width: 60%;
    margin-left: 20%;
}

.dato_pokemon {
    display: block; 
    width: 90%;
    margin-left: 5%;
    padding: 0px;
}

.input_pokemon {
    display: inline;
    width: 37%;
    font-size: 14px;
    text-align: left;
    margin-left: 7%;
}

