<div *ngIf="parametro && lista_pokemones">
  <div class="titulo_pokemon">
    <img class="imageIconoFuego" src="../../assets/img/sprites/icono_fuego.png">
    <h1 class="nombre_pokemon">{{lista_pokemones[parametro-1].Nombre}}</h1>
  </div>

  <div>
    <div class="cont_img">
      <img class="imagePokemon" src={{lista_pokemones[parametro-1].src_img}}>
    </div>
    
   <div class="info_pokemon">
      <div class="dato_pokemon">
        <input type="text" value="NO" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].NO}} class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="LEVEL" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].level}} class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="TYPE" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].type}} class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="HABILITY" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].hability}} class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="HEIGHT" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].height}} class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="WEIGHT" class="input_pokemon" readonly="true">
        <input type="text" value={{lista_pokemones[parametro-1].weight}} class="input_pokemon" readonly="true">
      </div>
      <div class="like_pokemon">
        <input type="text" value="1" class="numero_likes" id="num_likes" readonly="true">
        <button class="btn_like" (click)="sumarLike($event)"><img class="flecha_like" src="../../assets/img/sprites/like.png"></button>
        <button class="btn_like" (click)="restarLike($event)"><img class="flecha_like" src="../../assets/img/sprites/no_like.png"></button>
      </div>
    </div>

  </div>
</div>
