<div>
  <div class="titulo_pokemon">
    <div class="imageIconoFuego"><img src="../../assets/img/sprites/sprite_1/icono_fuego.png"></div>
    <h1 class="nombre_pokemon">ENTEI</h1>
  </div>

  <div>
    <div class="imagePokemon1"><img src= "../../assets/img/sprites/sprite_1/pokemon_1.png"></div>
    <div class="imagePokemonPhone"><img src= "../../assets/img/sprites/sprite_1/pokemon_cel.png"></div>

    <div class="info_pokemon">
      <div class="dato_pokemon">
        <input type="text" value="NO" class="input_pokemon" readonly="true">
        <input type="text" value="244" class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="LEVEL" class="input_pokemon" readonly="true">
        <input type="text" value="100" class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="TYPE" class="input_pokemon" readonly="true">
        <input type="text" value="FIRE" class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="HABILITY" class="input_pokemon" readonly="true">
        <input type="text" value="PRESSURE" class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="HEIGHT" class="input_pokemon" readonly="true">
        <input type="text" value="2,1 m" class="input_pokemon" readonly="true">
      </div>
      <div class="dato_pokemon">
        <input type="text" value="WEIGHT" class="input_pokemon" readonly="true">
        <input type="text" value="198,0 Kg" class="input_pokemon" readonly="true">
      </div>
      <div class="like_pokemon">
        <input type="text" value="1" class="numero_likes" id="num_likes" readonly="true">
        <button class="btn_like" (click)="sumarLike($event)"><img class="flecha_like" src="../../assets/img/sprites/sprite_1/like.png"></button>
        <button class="btn_like" (click)="restarLike($event)"><img class="flecha_no_like" src="../../assets/img/sprites/sprite_1/no_like.png"></button>
      </div>
    </div>

  </div>
</div>
