.container_home{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    height: auto;
    border-radius: 15px;
    background-color: #f11f1f;
}

.lista_pokemones {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
}

.pokemon_home {
    margin-bottom: 3%;
    display: inline-block;
    background: white;
    width: 115px;
    height: 115px;
    margin-left: 8%;
    margin-top: 3%;
    text-align: center;
    border-radius: 11px;
}

.pokemon_home:hover {
    background: #3d54d2;
    cursor: pointer;
    transform: scale(1.15);
}
.imgPok{
    width: 85%;
    height: 85%;
    margin-top: 5%;
}

@media screen and (max-width:630px ){
    // .titulo_others {
    //     background: transparent;
    //     width: 90%;
    //     margin-top: 2%;
    //     font-size:11px;
    // }
    
    .container_home {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        height: auto;
        border-radius: 15px;
        background-color: #f11f1f;
    }
    
    .lista_pokemones{
        width: 80%;
        margin-left: 13%;
        text-align:center;
    }
    
    .pokemon_home{
        margin-bottom: 3%;
        display: inline-block;
        background: white;
        width: 100px;
        height: 100px;
        margin-left: 5%;
        margin-top: 10%;
        text-align: center;
        border-radius: 11px;
    }
}