.container_home{
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    height: auto;
    border-radius: 15px;
    background-color: #f11f1f;
}

.lista_pokemones {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
}

.pokemon_home {
    margin-bottom: 3%;
    display: inline-block;
    margin-left: 8%;
    margin-top: 3%;
    border: none;
    background: transparent;
}
.btn_pokemon{
    background: white;
    width: 115px;
    height: 115px;
    text-align: center;
    border-radius: 11px;
    border: 1px solid;
}

.btn_pokemon:hover {
    background:black;
    cursor: pointer;
    transform: scale(1.15);
}

.imgPok{
    width: 85%;
    height: 85%;
    margin-top: 5%;
}

@media screen and (max-width:630px ){
    // .titulo_others {
    //     background: transparent;
    //     width: 90%;
    //     margin-top: 2%;
    //     font-size:11px;
    // }
    
    .container_home {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
        border-radius: 0px;
        background-color: white;
    }
    
    .lista_pokemones{
        width: 100%;
        margin-left: 0%;
    }
    
    .pokemon_home{
        margin-bottom: 0%;
        display: inline-block;
        text-align: center;
        margin-left: 7%;
        margin-top: 8%;
    }

    .btn_pokemon{
        background: #ff3232;
    }
    
    .btn_pokemon:hover {
        background:black;
        cursor: pointer;
        transform: scale(1.15);
    }
}