<!-- <button [routerLink]="['/main']" [routerLinkActive]="['classActive']">Boton</button> -->
<!-- <p *ngIf="pokemones!=null;">llegaron los pokemones</p>
<p>{{pokemones[0].id}}</p> -->

<div class="container_home">
    <div class="lista_pokemones">
      <div class="pokemon_home">
        <img class="imgPok_1" src="../../assets/img/sprites/pok_1.png">
      </div>
      <div class="pokemon_home">
          <img class="imgPok_2" src="../../assets/img/sprites/pok_2.png">
      </div>
      <div class="pokemon_home">
          <img class="imgPok_3" src="../../assets/img/sprites/pok_3.png">
      </div>
      <div class="pokemon_home">
          <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
      </div>
      <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    <div class="pokemon_home">
        <img class="imgPok_4" src="../../assets/img/sprites/pok_4.png">
    </div>
    </div>
  </div>